{% extends 'ionic.html.twig' %}

{% block title %}
	{{'Profile' | trans}}
{% endblock %}


{% block pageTitle %}
	{{block('title')}}
{% endblock %}

{% block content %}
	<ion-card>
		<ion-card-header>
			<ion-card-title>
				{{'Hello' | trans}},
				{{ app.user.fullname }}
				👋
			</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			{{'You can update your personal information by updating the form below' | trans}}
		</ion-card-content>
	</ion-card>

	<ion-list>
		<ion-list-header>
			<ion-label>
				<h2>{{'Profile update' | trans}}</h2>
			</ion-label>
		</ion-list-header>

		{{ form_errors(profileForm) }}
		{{ form_start(profileForm) }}
		{# {{ form_start(profileForm, {'attr': {'novalidate': 'novalidate'}}) }} #}

		<ion-item>
			<ion-label>
				{{ form_label(profileForm.firstname) }}
			</ion-label>
			{{ form_widget(profileForm.firstname) }}
		</ion-item>

		<ion-item>
			<ion-label>
				{{ form_label(profileForm.lastname) }}
			</ion-label>
			{{ form_widget(profileForm.lastname) }}
		</ion-item>

		<ion-item>
			<ion-label>
				{{ form_label(profileForm.bio) }}
			</ion-label>
			{{ form_widget(profileForm.bio) }}
		</ion-item>

		<ion-item>
			<ion-button type="submit" color="success">
				{{'Update' | trans}}
			</ion-button>
		</ion-item>
		{{ form_end(profileForm) }}
	</ion-list>
{% endblock %}
