{% extends 'app.html.twig' %}

{% block title %}
	{{'Profile' | trans}}
{% endblock %}


{% block pageTitle %}
	{{block('title')}}
{% endblock %}

{% block menuBackButton %}
	<ion-button href="{{path('home')}}">
		<ion-icon name="arrow-back-outline"></ion-icon>
	</ion-button>
{% endblock %}

{% block content %}
	<ion-card>
		<ion-card-header>
			<ion-card-title>
				<h2>
					{{'Hello' | trans}},
					{{ app.user.fullname }}
					👋
				</h2>
			</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-item lines="none">
				<ion-thumbnail slot="start">
					<ion-img src="{{asset(app.user.image)}}" alt="{{'Profile image of'~ app.user.firstname}}"></ion-img>
				</ion-thumbnail>
				<ion-label>
					{{app.user.bio}}
				</ion-label>
			</ion-item>
		</ion-card-content>
	</ion-card>

	<ion-list>
		<ion-list-header>
			<h2>{{'Profile update' | trans}}</h2>
		</ion-list-header>

		{% include "profile/_form.html.twig" %}
	</ion-list>
	<ion-list>
		<ion-list-header>
			<h2>{{'Manage your account' | trans}}</h2>
		</ion-list-header>
		<ion-item>
			<ion-grid>
				<ion-row class="ion-justify-content-center ion-align-items-center">
					<ion-col size="12" size-sm="6" class="ion-text-center ion-text-sm-start">
						<ion-button href="{{path('forgot_password_request')}}" color="success" fill="outline">
							{{'Reset your password' | trans}}
						</ion-button>
					</ion-col>
					<ion-col size="12" size-sm="6" class="ion-text-center ion-text-sm-end">
						{% include "profile/_delete.html.twig" %}
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-item>
	</ion-list>
{% endblock %}
