{% extends 'ionic.html.twig' %}

{% block title %}
	{{'Profile' | trans}}
{% endblock %}


{% block pageTitle %}
	{{block('title')}}
{% endblock %}

{% block content %}
	<ion-card>
		<ion-card-header>
			<ion-card-title>
				<h2>
					{{'Hello' | trans}},
					{{ app.user.fullname }}
					👋
				</h2>
			</ion-card-title>
		</ion-card-header>

		<ion-card-content>
			<ion-item lines="none">
				<ion-thumbnail slot="start">
					<ion-img src="{{asset(app.user.image)}}" alt="{{'Profile image of'~ app.user.firstname}}"></ion-img>
				</ion-thumbnail>
				<ion-label>
					{{app.user.bio}}
				</ion-label>
			</ion-item>
		</ion-card-content>
	</ion-card>

	<ion-list>
		<ion-list-header>
			<h2>{{'Profile update' | trans}}</h2>
		</ion-list-header>

		{% include "profile/_form.html.twig" %}

		<ion-item>
			<a href="{{path('forgot_password_request')}}">
				{{'Reset password' | trans}}
			</a>
		</ion-item>
	</ion-list>
{% endblock %}
