{% extends 'admin/layout.html.twig' %}

{% block title %}
	{{'Users' | trans}}
{% endblock %}

{% block content %}
	<div class="ion-padding">
		<ion-accordion-group color="light">
			{% for user in users %}
				<ion-accordion value="user-detail-{{user.id}}">
					<ion-item slot="header" color="light">
						<ion-label>{{user.fullname}}</ion-label>
					</ion-item>
					<div class="ion-padding" slot="content">
						{% include "admin/user/_user_data.html.twig" %}
					</div>
				</ion-accordion>
			{% else %}
				<ion-item>
					{{'No item found' | trans}}
				</ion-item>
			{% endfor %}
		</ion-accordion-group>
	</div>

	<ion-fab slot="fixed" vertical="bottom" horizontal="end">
		<ion-fab-button href="{{ path('admin_user_new') }}">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
{% endblock %}
