{% extends 'landing.html.twig' %}

{% block title %}
	{{'Home' | trans}}
{% endblock %}

{% block content %}
	<ion-grid>
		<ion-row class="ion-justify-content-center">
			<ion-col>
				<div class="ion-text-center container">
					<ion-card>
						<ion-card-header>
							<ion-card-title>
								{{'The school for builders of the kingdom of God' | trans}}
							</ion-card-title>
						</ion-card-header>
						<ion-card-content>
							<img class="img-responsive" src="{{asset('images/landing.jpg')}}" alt="Le Rocher Académie Logo">
							<ion-button expand="full" href="{{path('register')}}" color="danger">{{'Enroll Now' | trans}}</ion-button>
						</ion-card-content>
					</ion-card>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
{% endblock %}
