{% extends 'landing.html.twig' %}

{% block title %}
	{{'New account' | trans}}
{% endblock %}

{% block content %}
	<ion-grid class="form-signin ion-no-padding">
		<ion-row class="ion-justify-content-center ion-align-items-center">
			<ion-col size="12" size-sm="5" class="form-bg-login"></ion-col>
			<ion-col size="12" size-sm="7" class="form-bg-bullet">
				{{ form_start(registrationForm, {'attr' : {'novalidate':'novalidate'}}) }}
				<ion-list>
					<ion-list-header>
						<div class="ion-text-center">
							<h1>
								{{block('title')}}
							</h1>
							<h2>{{'Join our community of online learners' | trans}}</h2>
						</div>
					</ion-list-header>

					{% if app.session.flashbag.peekAll() is not empty %}
						<ion-item lines="none">
							{% for flash_error in app.flashes('verify_email_error') %}
								<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
							{% endfor %}
						</ion-item>
					{% endif %}

					<ion-item lines="none" class="ion-no-margin">
						<ion-label>
							<h3>
								{{ form_label(registrationForm.email) }}
							</h3>
							<ion-text color="danger">
								{{ form_errors(registrationForm.email) }}
							</ion-text>
							{{ form_widget(registrationForm.email) }}
						</ion-label>
					</ion-item>

					<ion-item lines="none">
						<ion-label>
							<h3>
								{{ form_label(registrationForm.fullname) }}
							</h3>
							<ion-text color="danger">
								{{ form_errors(registrationForm.fullname) }}
							</ion-text>
							{{ form_widget(registrationForm.fullname) }}
						</ion-label>
					</ion-item>

					<ion-item lines="none">
						<ion-label>
							<h3>
								{{'Password' | trans}}
							</h3>
							{{ form_widget(registrationForm.plainPassword) }}
							<ion-text color="danger">
								{{ form_errors(registrationForm.plainPassword) }}
							</ion-text>
						</ion-label>
					</ion-item>

					<ion-item lines="none">
						<ion-label>
							<ion-text color="danger">
								{{ form_errors(registrationForm.agreeTerms) }}
							</ion-text>
							{{ form_widget(registrationForm.agreeTerms, { label: 'I have read and accept' | trans ~ ' <a target="_blank" href="' ~ path('page_show', {slug:'cgu'}) ~ '">' ~ "the Terms of Use"|trans ~ '</a>', label_html: true }) }}
						</ion-label>
					</ion-item>
				</ion-list>
				<ion-col class="ion-text-center">
					<div class="ion-padding-vertical">
						<ion-button type="submit" color="app" fill="solid">
							{{'Create a new account' | trans}}
						</ion-button>
					</div>
					{{ form_end(registrationForm) }}
				</ion-col>
			</ion-col>
		</ion-row>
		<ion-row class="ion-justify-content-center ion-padding ion-margin">
			<ion-col class="ion-text-center">
				<ion-text>
					{{'Already have an account ?' | trans}}
					<a href="{{path('login')}}">{{'Sign in' | trans}}</a>
				</ion-text>
			</ion-col>
		</ion-row>
	</ion-grid>
{% endblock %}
