{# Si un compte n'est pas vérifié, on affiche un message #}

{% if app.user and not app.user.isVerified %}
	<div class="alert alert-danger">
		<p>
			{{ app.user.firstname }},
			{{'your account has not yet been verified' | trans}}.
		</p>
		<p>
			<ul>
				<li>{{'Please, check your mailbox (including Spam)' | trans}}</li>
				<li>
					{{'Or' | trans}},
					<a href="{{ path('verify_email_resend') }}">{{'Click here to send a verification e-mail' | trans}}</a>
				</li>
			</ul>
		</p>
	</div>
{% endif %}
