{% extends "email.html.twig" %}
{% block content %}
	<div>
		<h2 class="text-center">
			{{'Hello' | trans}}
			{{user.firstname}}
		</h2>

		{{message | sanitize_html('app.notification_sanitizer')}}

		<center>
			<button href="{{url}}">
				{{'View in the application' | trans}}
			</button>
		</center>

	</div>
{% endblock %}
