{% extends 'app.html.twig' %}

{% block title %}
	{{'Notifications' | trans}}
{% endblock %}

{% block content %}
	<div class="ion-padding">
		<ion-list>
			{% for notification in notifications %}
				<ion-item href="{{ path('notification_show', { id:notification.id }) }}">
					<ion-text {% if not notification.isRead %} color="danger" {% endif %}>
						{{notification.message | raw}}
					</ion-text>
				</ion-item>
			{% endfor %}
		</ion-list>
	</div>
{% endblock %}


{% block menuBackButton %}
	<ion-button href="{{path('home')}}">
		<ion-icon name="arrow-back-outline"></ion-icon>
	</ion-button>
{% endblock %}

{% block menuHeaderButtons %}
	<ion-buttons slot="end">
		<ion-button href="{{path('notification_read_all')}}" fill="clear">
			<span class="ion-hide-md-down">
				{{'Mark all as read' | trans}}
			</span>
			<ion-icon name="checkmark-done-outline"></ion-icon>
		</ion-button>
	</ion-buttons>
{% endblock %}
