{% extends 'app.html.twig' %}

{% block title %}
	{% if notification.titleKey %}
		{{ notification.titleKey|trans(notification.translationParams ?? []) }}
	{% else %}
		{{ notification.title ? notification.title : 'Notification' | trans }}
	{% endif %}
{% endblock %}

{% block content %}
	<div class="ion-padding">
		{% if notification.messageKey %}
			{{ notification.messageKey|trans(notification.translationParams ?? [])|sanitize_html('notification') }}
		{% else %}
			{{ notification.message|default('')|sanitize_html('notification') }}
		{% endif %}
	</div>


{% endblock %}

{% block menuBackButton %}
	<ion-button href="{{path('notification_index')}}">
		<ion-icon name="arrow-back-outline"></ion-icon>
	</ion-button>
{% endblock %}
