{% extends 'landing.html.twig' %}

{% block title %}
	{{'Reset your password' | trans}}
{% endblock %}

{% block content %}
	{% for flash_error in app.flashes('reset_password_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<ion-grid class="form-signin">
		<ion-row class="ion-justify-content-center">
			<ion-col size="12" size-sm="6">
				{{ form_start(requestForm) }}
				<ion-list>
					<ion-list-header>
						<ion-label class="ion-text-center">
							<h1>
								{{block('title')}}
							</h1>
						</ion-label>
					</ion-list-header>

					<ion-item lines="none">
						<ion-label>
							{{ form_label(requestForm.email) }}
							{{ form_widget(requestForm.email) }}
							<ion-note>
								{{'Enter your email address, and we will send you a link to reset your password' | trans}}.
							</ion-note>
						</ion-label>
						<ion-text color="danger">
							{{ form_errors(requestForm.email) }}
						</ion-text>
					</ion-item>
				</ion-list>
			</ion-col>
			<ion-col>
				<ion-button color="success" type="submit">
					{{'Send password reset email' | trans}}
				</ion-button>
			</ion-col>
			{{ form_end(requestForm) }}
		</ion-row>
	</ion-grid>
{% endblock %}
