{% extends 'ionic.html.twig' %}

{% block title %}
	{{'Cohort' | trans}}
{% endblock %}


{% block pageTitlte %}
	{{block('title')}}
{% endblock %}

{% block content %}
	{% if app.user and not app.user.isPaid() %}
		<ion-card class="ion-text-center">
			<ion-card-header>
				<ion-card-title>{{'Your registration has not yet been paid' | trans}}</ion-card-title>
			</ion-card-header>

			<ion-card-content>
				{{'To see payment details' | trans}}
				:
				<a href="{{ path('payment_index') }}">{{'Click here' | trans}}</a>
			</ion-card-content>
		</ion-card>
	{% endif %}
	{% include "cohort/_list.html.twig" %}
{% endblock %}
