{% extends 'landing.html.twig' %}

{% block title %}
	{{'Sign in' | trans}}
{% endblock %}

{% block content %}
	<ion-grid class="form-signin ion-no-padding">
		<ion-row class="ion-justify-content-center">
			<ion-col size="12" size-sm="5" class="form-bg-login"></ion-col>
			<ion-col size="12" size-sm="7" class="form-bg-bullet">
				{% if error %}
					<div class="ion-text-center">
						<ion-text color="danger">
							{{ error.messageKey|trans(error.messageData, 'security') }}
						</ion-text>
					</div>
				{% endif %}

				<form action="{{ path('login') }}" method="post">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<ion-list>
						<ion-list-header>
							<ion-label class="ion-text-center">
								<h1>
									{{block('title')}}
								</h1>
							</ion-label>
						</ion-list-header>
						<ion-item>
							<ion-input label="{{'Email' | trans}}" type="text" id="username" name="_username" value="{{ last_username }}"></ion-input>
						</ion-item>
						<ion-item>
							<ion-input label="{{'Password'| trans}}" type="password" id="password" name="_password"></ion-input>
						</ion-item>
						<div class="ion-padding-vertical ion-text-center">
							<ion-button type="submit" color="app">
								{{block('title')}}
							</ion-button>
						</div>
					</ion-list>
				</form>
			</ion-col>
		</ion-row>
		<ion-row class="ion-justify-content-center ion-padding">
			<ion-col class="ion-text-center" size="12">
				<ion-text>
					<p>
						{{"Don't have an account yet ?" | trans}}
						<a href="{{path('register')}}">{{'Sign up' | trans}}</a>
					</p>

					<p>
						{{"Forgotten password ?" | trans}}
						<a href="{{path('forgot_password_request')}}">{{'Reset your password' | trans}}</a>
					</p>
				</ion-text>
			</ion-col>
		</ion-row>
	</ion-grid>
{% endblock %}
