<div data-controller="editor">
	{{ form_start(form) }}
	<ion-list>

		{# Title #}
		<ion-item lines="none">
			<ion-label>
				{{ form_label(form.title) }}
				{{ form_widget(form.title) }}
			</ion-label>
			<ion-text color="danger">
				{{ form_errors(form.title) }}
			</ion-text>
		</ion-item>

		{# description #}
		<ion-item lines="none">
			<ion-label>
				{{ form_label(form.description) }}
				{{ form_widget(form.description) }}
			</ion-label>
			<ion-text color="danger">
				{{ form_errors(form.description) }}
			</ion-text>
		</ion-item>

		{# Content #}
		<ion-item lines="none">
			<ion-label>
				{{ form_label(form.content) }}
				{{ form_widget(form.content) }}
			</ion-label>
			<ion-text color="danger">
				{{ form_errors(form.content) }}
			</ion-text>
		</ion-item>


		{# videoEmbeded #}
		<ion-item lines="none">
			<ion-label>
				{{ form_label(form.videoEmbeded) }}
				{{ form_widget(form.videoEmbeded) }}
			</ion-label>
			<ion-text color="danger">
				{{ form_errors(form.videoEmbeded) }}
			</ion-text>
		</ion-item>


		{# videoUrl #}
		<ion-item lines="none">
			<ion-label>
				{{ form_label(form.videoUrl) }}
				{{ form_widget(form.videoUrl) }}
			</ion-label>
			<ion-text color="danger">
				{{ form_errors(form.videoUrl) }}
			</ion-text>
		</ion-item>


		{# module #}
		<ion-item lines="none">
			<ion-label>
				{{ form_label(form.module) }}
				{{ form_widget(form.module) }}
			</ion-label>
			<ion-text color="danger">
				{{ form_errors(form.module) }}
			</ion-text>
		</ion-item>


		{# status #}
		<ion-item lines="none">
			<ion-label>
				{{ form_label(form.status) }}
				{{ form_widget(form.status) }}
			</ion-label>
			<ion-text color="danger">
				{{ form_errors(form.status) }}
			</ion-text>
		</ion-item>


		<ion-item lines="none">
			<ion-button color="success" size="normal" type="submit">{{ button_label|default('Save')|trans }}</ion-button>
		</ion-item>

	</ion-list>
	{{ form_end(form) }}
</div>
