{{ form_start(form) }}


<ion-item lines="none">
	<ion-label>
		<h3>
			{{ form_label(form.content) }}
		</h3>
		<ion-note>({{'This content will not be public' | trans}})</ion-note>
		{{ form_widget(form.content) }}
	</ion-label>
	<ion-text color="danger">
		{{ form_errors(form.content) }}
	</ion-text>
</ion-item>


<ion-item lines="none">
	<ion-button type="submit" size="default" color="success">
		{{'Add new note' | trans}}
	</ion-button>
</ion-item>

{{ form_end(form) }}
