{% extends 'lesson/layout.html.twig' %}

{% block title %}
	{{currentLesson.title}}
	-
	{{module.title}}
{% endblock %}

{% block content %}
	<ion-card>
		<ion-card-content>
			<h2>{{'Description' | trans}}</h2>
			<ion-text color="dark">
				{{currentLesson.description | raw}}
			</ion-text>
		</ion-card-content>
	</ion-card>

	<div class="ion-padding">
		<div>
			{{currentLesson.videoEmbeded | raw}}
		</div>
		<ion-accordion-group class="ion-padding-vertical" {% if not currentLesson.videoEmbeded %} value="accordeon-lesson-{{currentLesson.id}}" {% endif %}>
			<ion-accordion value="accordeon-lesson-{{currentLesson.id}}">
				<ion-item slot="header" color="light">
					<ion-label>{{'Text content' | trans}}</ion-label>
				</ion-item>
				<div class="ion-padding" slot="content">
					<ion-text color="dark">
						{{currentLesson.content | raw}}
					</ion-text>
				</div>
			</ion-accordion>
		</ion-accordion-group>

		{# User notes #}
		{% if is_granted('IS_AUTHENTICATED') %}
			{# Form #}
			{{ render(path('note_show', {id:currentLesson.id, courseSlug:course.slug, moduleSlug:module.slug})) }}
			{# List #}
			{{ render(path('note_index')) }}
		{% endif %}


	</div>
{% endblock %}

{% block menuHeaderButtons %}
	<ion-buttons slot="end">
		{% include "lesson/_complete.html.twig" %}
	</ion-buttons>
{% endblock %}
