{% extends 'lesson/layout.html.twig' %}

{% block title %}
	{{currentLesson.title}}
	-
	{{module.title}}
{% endblock %}

{% block content %}
	<ion-card color="light">
		<ion-card-content>
			{{currentLesson.description}}
		</ion-card-content>
	</ion-card>
	<div class="ion-padding">
		<div>
			{{currentLesson.videoEmbeded | raw}}
		</div>
		<ion-grid>
			<ion-row class="ion-justify-content-center">
				<ion-col size="3">
					{% if isSubscribed %}
						<ion-button href="{{path('lesson_complete', {courseSlug:course.slug, moduleSlug:module.slug, id:currentLesson.id})}}" color="warning">{{'Complete and continue' | trans}}</ion-button>
					{% else %}
						<ion-button href="{{path('course_subscribe', {slug:course.slug})}}" color="danger" fill="outline" size="default">
							<ion-icon slot="start" name="add-outline"></ion-icon>
							{{'Sign up for this course' | trans}}
						</ion-button>
					{% endif %}
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
{% endblock %}
