{% extends 'email.html.twig' %}

{% block content %}
    <spacer size="16"></spacer>
    <h1>{{ 'Hello' | trans }} {{ user.firstname }} ! 👋</h1>
    <p class="lead">{{ 'You requested a magic link to sign in to your account.' | trans }}</p>
    
    <spacer size="16"></spacer>

    <center>
        <button href="{{ url }}" class="primary">{{ 'Sign in now' | trans }}</button>
    </center>

    <spacer size="24"></spacer>

    <p style="font-size: 12px; color: #64748b;">
        {{ "This link is valid for 15 minutes. If you didn't make this request, you can ignore this email." | trans }}
    </p>

    <spacer size="16"></spacer>
    
    <p>{{ 'See you on the platform soon,' | trans }}<br><strong>{{ 'The Le Rocher Académie team' | trans }}</strong></p>
{% endblock %}
