{# 
 Doc: Foundation for Emails
 https://get.foundation/emails/docs/
 #}
{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css')) %}

{% block style_css %}
	<style>
		h1 {
			color: #333;
		}

		img,
		.logo {
			max-width: 100%;
		}
	</style>
{% endblock %}


<container>
	<row class="header">
		<columns></columns>
		<columns>
			<center>
				<img src="{{ email.image('@images/logo.png') }}" class="logo" alt="App Logo">
			</center>
		</columns>
		<columns></columns>
	</row>
	<row>
		<columns>
			{% block content %}{% endblock %}
			<spacer size="16"></spacer>
			<h-line></h-line>
			{% block footer %}
				<p class="text-center">
					{{'now' | date('Y')}}
					&copy;
					<a href="https://academie.lerocher.fr">Le Rocher Academie</a>.
					{{'All rights reserved' | trans}}
				</p>
				<menu>
					<item href="{{absolute_url(path('home'))}}">{{'Home' | trans}}</item>
					<item href="{{absolute_url(path('course_index'))}}">{{'Courses' | trans}}</item>
					<item href="{{absolute_url(path('profile_index'))}}">{{'Profile' | trans}}</item>
				</menu>
			{% endblock %}
		</columns>
	</row>
</container>

{% endapply %}
