{% extends 'base.html.twig' %}

{% block body %}
	<ion-header>
		<ion-toolbar>
			<ion-buttons slot="start">
				<a href="{{path('home')}}">
					<ion-img src="{{asset('images/logo.svg')}}" alt="Logo le rocher Academie" class="logo"></ion-img>
				</a>
			</ion-buttons>
			<ion-buttons slot="end">
				{% if is_granted('IS_AUTHENTICATED_FULLY') %}
					<ion-button href="{{path('home')}}">
						<ion-icon slot="start" name="home-outline"></ion-icon>
						<span class="ion-hide-sm-down">
							{{'Back to home' | trans}}
						</span>
					</ion-button>
				{% else %}
					<ion-button href="{{path('login')}}" color="dark" class="ion-padding">
						<ion-icon slot="start" name="log-in-outline"></ion-icon>
						{{'Sign in' | trans}}
					</ion-button>
					<ion-button href="{{path('register')}}" color="app" fill="solid" shape="round" class="ion-padding">
						<ion-icon slot="start" name="person-outline"></ion-icon>
						{{'Sign up' | trans}}
					</ion-button>
				{% endif %}
			</ion-buttons>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		{% block content %}{% endblock %}
	</ion-content>
	<ion-footer>
		<ion-toolbar>
			<ion-title>
				{{'now' | date('Y')}}
				&copy; Le Rocher Academie.
				{{'All rights reserved' | trans}}
			</ion-title>
		</ion-toolbar>
	</ion-footer>
{% endblock %}
