<ion-list id="completion-lesson">
	<ion-list-header>
		<ion-label>{{'Lessons' | trans}}</ion-label>
		<ion-note>
			<a href="{{ path('admin_completion_lesson') }}">
				{{'Show more' | trans}}
			</a>
		</ion-note>
	</ion-list-header>
	{% for completion in lessonsCompletion %}
		<ion-item>
			<ion-label>{{completion.lesson?.title ?? 'Leçon Inconnue'}}</ion-label>
			<ion-label>{{completion.user?.firstname ?? 'Utilisateur Inconnu'}}</ion-label>
		</ion-item>
	{% endfor %}
</ion-list>
