{% extends 'app.html.twig' %}

{% block title %}
	{{'Payment methods' | trans}}
{% endblock %}


{% block pageTitle %}
	{{block('title')}}
{% endblock %}

{% block menuBackButton %}
	<ion-button href="{{path('home')}}">
		<ion-icon name="arrow-back-outline"></ion-icon>
	</ion-button>
{% endblock %}

{% block content %}
	<ion-card>
		<ion-card-content>
			{% if payment %}
				<ion-card-header>
					<ion-card-title>
						{{'Training fees' | trans}}
						:
						{{payment.pricing}}
						€
					</ion-card-title>
				</ion-card-header>
				{% if payment.rib %}
					<p>
						<strong>
							{{'RIB' | trans}}
						</strong>
						:
						{{payment.rib}}
					</p>
				{% endif %}

				{% if payment.checkOrder %}
					<p>
						<strong>
							{{'Check order' | trans}}
						</strong>
						:
						{{payment.checkOrder}}
						{% if payment.receptionAddress %}
							(
							<strong>{{'Reception address' | trans}}</strong>
							:
							{{payment.receptionAddress}})
						{% endif %}

					</p>
				{% endif %}

				{% if payment.note %}
					<p>
						{{payment.note}}
					</p>
				{% endif %}
			{% else %}
				<p>Aucun abonnement ou plan de paiement n'a été rattaché à votre compte.</p>
			{% endif %}
		</ion-card-content>
	</ion-card>
{% endblock %}
